body {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.list-group-item {
    background-color: transparent !important;
    border-color: transparent !important;
}

.sch_div {
    margin: 0 auto 0 auto !important;
    width: 36rem
}

.list-group-item{
    text-align: left !important;
}

a:link, a:visited, a:hover, a:active, a:focus{
    color: black;
    text-decoration: none;
}